body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}


.profile{
     background-color: #f4f4f4;
    padding: 40px 0;
  
}
.img-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 50px; */
    
}
.photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    
   
}

.img-div h5{
    color: gray;
    font-size: medium;
    margin-top: 0px;
    padding-bottom: 0px;
    
}

.img-div p{
    color: gray;
    font-size: small;
    margin-top: 0px;
}


/* navbar style start */

header{
    background-color: #333;
}

ul {
    width: 60%;
    list-style-type: none;
    text-align: center;
    margin: auto;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  

/* navbar style end */

/* about me section start */

.about-me{
    padding: 10px 100px;
    background-color: #f1f0f0;
    /* text-align: center; */
    margin-top: 30px;
}

.about-me h2{
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

.about-me p{
    font-size: 16px;
    margin-bottom: 20px;
}


    

/*about me style start section end  */


/* skills section style start */

.skills{
    padding: 10px 100px;
    background-color: #f1f0f0;
    margin-top: 10px;
}

.skills h2{
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

#skill {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #skill td{
    margin: 0 auto;
    padding: 10px 15px;
    font-size: 16px;
    border-left: 5px solid #000;
    border-bottom: 5px solid #fffefe;
    background-color: #f9f9f9;
    gap: 10px;
  }
  
  #skill tr:nth-child(even){background-color: #554141;}
  
 
  


/* skills section style end */